section {
  width: 400px;
}

rect {
  transform-origin: 50% 100%;
  fill: orange;
}

text {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  text-anchor: middle;
  font-size: 12px;
  fill: #fff;
}

circle {
  fill: #333;
}

path.main-arc {
  stroke: #fff;
}
