section {
  position: relative;
  width: 400px;
}

rect {
  transform-origin: 50% 100%;
  fill: orange;
}

text {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  text-anchor: middle;
  font-size: 12px;
  fill: #fff;
}

circle {
  fill: #333;
}

path.main-arc {
  stroke: #fff;
}

p {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
}

p.multiplier {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 9rem;
}

.input-n-unit {
  position: absolute;
  width: 100%;
  color: #fff;
  margin-top: 16rem;
}

.input-n-unit > p:first-child {
  font-size: 28px;
}

.input-n-unit > p:last-child {
  font-size: 20px;
}
